@import url('https://fonts.googleapis.com/css2?family=Syncopate:wght@400;700&display=swap');

*{
	margin:0;
	padding: 0;
	box-sizing: border-box;
	color: aliceblue;
	font-family: 'Syncopate', sans-serif;
}
body{
	background: linear-gradient(180deg, #F84545 0%, #4BA3F3 100%);
	background-repeat: no-repeat;
	height:100vh;
}
.container{
	padding:2%;
	display: flex;
	flex-direction: column;
	justify-content: center;
	align-items: center;
	
}

.thermo-circle{
	display: grid;
	grid-template-rows: 1fr 2fr 1fr;
	margin: 50px;
	border: 2px solid;
	border-radius: 50%;
	width: 400px;
	height: 400px;
	align-items: center;
}
.thermo-circle-row1{
	grid-row: 1/2;
	justify-self: center;
	align-self: flex-end;
}
.thermo-circle-row2{
	grid-row: 2/3;
	display:grid;
	grid-template-columns: repeat(2,1fr);
	width:100%;
}

.temp-monitor{
	grid-column: 1/2;
	text-align: center;
	width:120px;
	height:120px;
	background-color: black;
	margin:30%;
	border:2px solid gray;
	font-size: 4em;
	padding-top: 25px;
}
.temp-options{
	grid-column: 2/3;
	display: grid;
	grid-template: repeat(4,1fr)/ repeat(8,1fr);
	align-items: center;
	justify-items: center;
}
.btn {
  background-color: transparent;
  border: none; 
  cursor: pointer; 
}

#btnUpIcon, #btnDownIcon, #btnEnergyIcon, #btnResetIcon{
	color: black;
}
#btnUpIcon:hover, #btnDownIcon:hover, #btnEnergyIcon:hover, #btnResetIcon:hover{
	color:aliceblue;
}
#btnUp{
	grid-area: 2 / 2 / span 1 / span 1;
}
#btnEnergySave{
	grid-area: 2 / 4 / span 1 / span 1;
}
#btnDown{
	grid-area: 3 / 2 / span 1 / span 1;
}
#btnReset{
	grid-area: 3 / 4 / span 1 / span 1;
}
.thermo-circle-row3{
	justify-self: center;
}
.thermo-usage-indicator{
	width:25px;
	height: 25px;
	border-radius: 50%;
	background: radial-gradient(50% 50% at 50% 50%, #77736C 1.04%, #000000 63.54%);
}